body,html{
    width: 100%;
    overflow:-Scroll;
    overflow-x: hidden;
    font-family: "Microsoft YaHei",Sans-serif ;
}
body,html,div,ul,li{margin:0;padding:0;}
@media screen and (min-width:240px) {
    html, body{
        font-size:9px;
    }
}
@media screen and (min-width:320px) {
    html, body{
        font-size:12px;
    }
}
@media screen and (min-width:480px) {
    html, body{
    font-size:18px;
    }
}
@media screen and (min-width:640px) {
    html, body{
        font-size:24px;
    }
}
@media screen and (min-width:960px) {
    html, body{
        font-size:36px;
    }
}
div.imgbox{width:28rem;height:16.5rem;overflow:hidden;margin:0 auto;}
div.imgbox ul{clear:both;width:75rem;}
div.imgbox ul 
li{float:left;width:28rem;height:16.5rem;overflow:hidden;text-align:center;}
div.imgbox ul li img{width:28rem;height:16.5rem;}
#page{color:red;}

.linka{
    display: block;
}

.flexcontainer{
    display:flex;
    flex-flow:row;
}
.flex-item{
    flex:1;
    text-align: center; 
}
.footer{
    border-top:0.07rem solid #B9B7B7;
    background-color: #F9F6F6;
    position: fixed;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
}
.menubox{
    height: auto;
    line-height:auto;
}

/*空白横条*/
.blackspace{
    width: 100%;
    height: 1rem;
    background-color: #EFE4E4;
}

/*头像栏*/
.personinfo{
    margin:1rem 1rem 1rem 1rem;
    /*width: 100%;*/
    height: 4rem;
   /* padding:1rem 0.5rem 0.5rem 1.5rem;*/
   /* border: 1rem slide red;*/

}
.pi-head{
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
  /*  flex:1;*/
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.pi-info{
    flex:8;
}
.pi-title{
    padding-left:2rem;
    font-size: 1.2rem;
    padding-top: 0.7rem;
}
.pi-name{
    padding-left: 2rem;
    font-size: 1rem;
    color: #666;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
}
.rowline{
    margin-top: 2rem auto;
    width: 28rem;
    border-top:0.1rem solid #DFDADA;
    margin-left: 2rem;
}
.data-list{
    height: 3rem;
}
.test{
    width: 20px;
    height: 10px;
    background-color: red;
}
.dataposi{
    margin-top: 1rem;
}
.sharepic{
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
