/*初始化设置*/
body,html{
    width: 100%;
    overflow:-Scroll;
    overflow-x: hidden;
    font-family: "Microsoft YaHei",Sans-serif ;
}
body,html,div,ul,li{margin:0;padding:0;}
@media screen and (min-width:240px) {
    html, body{
        font-size:9px;
    }
}
@media screen and (min-width:320px) {
    html, body{
        font-size:12px;
    }
}
@media screen and (min-width:480px) {
    html, body{
    font-size:18px;
    }
}
@media screen and (min-width:640px) {
    html, body{
        font-size:24px;
    }
}
@media screen and (min-width:960px) {
    html, body{
        font-size:36px;
    }
}
/*标签连接*/
.linka{
    display: block;
}
/*头部*/
.header{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    border-bottom: 0.08rem solid #E5E2E2;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-bottom: 4rem;
}
.backposi{
    width:3.6rem;
    height: 1.7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    float: left;
     overflow: hidden;
}
.moreposi{
    width: 1.7rem;
    height: 1.7rem;
    overflow: hidden;
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
}
/*大赏图片及文字*/
.linka{
    display: block;
}
.cont{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    text-align: center;
}
.boxlist{
    width: 100%;
    overflow: hidden;
    display: block;
    background: #FFFAFF;    
}
.listleft{
    overflow: hidden;
    float: left;
    width: 35%;
}
.listright{
float: left;
width: 64%;
overflow: hidden;
font-size: 1rem;

}
.proinfo{
    width: 100%;
    text-align: center;

}
.boxlist .listright .proinfo ul{
    list-style: none;
    font-size: 0.8rem;
    width: 100%;
    margin-left: 0.5rem;
}
.boxlist .listright .proinfo ul li{
    display: inline-block;
    border-right: 1px dotted #aeb0b2;
    text-align: center;
    list-style: none;
    padding: 0.2rem;
    width: 4.4rem;
}

.boxlist .listright .proinfo ul li b{
    color: #eb215a;
    font-size: 0.7rem;
    font-weight: 700;
}
.btn{
      text-align: center;
    margin: 0.5rem;}
.btn a {
        display: inline-block;
        width: 5rem;
        background: #eb215a;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        color: #ff79a5;
        text-decoration: none; 
    }
    